# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
dist/
*.egg-info/
*.egg

# Virtual environments
myenv/
venv/
env/
.env/
.venv/

# Logs
secure_node_logs/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Testing
.coverage
coverage.xml
*.cover
*.log
pytest_cache/

# Miscellaneous
*.bak
*.swp
*~
